SetEnv LINE_LOGIN_CHANNEL_ID 1656201281
SetEnv LINE_LOGIN_CALLBACK_URL https://4c09b0b9afc6.ngrok.io/line-login/callback.php
SetEnv LINE_LOGIN_CHANNEL_SECRET c2663b9c8dc9327e63088e6bfe436f25
SetEnv LINE_MESSAGE_CHANNEL_ACCESS_TOKEN lUEdqPlxca9cJzhsJf4PLb0aonuxWZIsjUrUocCt+Oco2RqhFr1/1GkprxCDZ1zi1iYNZlFY8IRx58ZmV6Zhqk8+80f+xjp7WRZRqZiCfdl8RMgqKR1Nv/JWVFzOxiSNYHDdDRbN75LRMCvWL8AAzwdB04t89/1O/w1cDnyilFU=